{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block fiveup_bodyclass %}is-preload{% endblock fiveup_bodyclass %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
		<!-- Sidebar -->
		<section id="sidebar">

			<!-- Intro -->
			<section id="intro">
				<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
				<header>
					<h2>{{ page.banner_title }}</h2>
					<p>{{ page.body|richtext }}</a></p>
				</header>
			</section>

			<!-- About -->
			<section class="blurb">
				<h2>About</h2>
				<p>The Purple Dot is a group of data-wranglin', storytellin' data scientists and developers.</p>
				<ul class="actions">
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</section>

		</section>

{% endblock content %}