{% extends 'base.html' %}
{% load static %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block fiveup_bodyclass %}is-preload{% endblock fiveup_bodyclass %}

{% block body_class %}template-logueindexpage{% endblock body_class %}

{% block content %}

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
			<header id="header">
				<h1><a href="{% pageurl page %}">Notique</a></h1>
				<nav class="links">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Articles</a></li>
						<li><a href="#">Interactive</a></li>
						<li><a href="#">Curated</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</nav>
				<nav class="main">
					<ul>
						<li class="search">
							<a class="fa-search" href="#search">Search</a>
							<form id="search" method="get" action="#">
								<input type="text" name="query" placeholder="Search" />
							</form>
						</li>
						<li class="menu">
							<a class="fa-bars" href="#menu">Menu</a>
						</li>
					</ul>
				</nav>
			</header>

		<!-- Menu -->
			<section id="menu">

				<!-- Search -->
					<section>
						<form class="search" method="get" action="#">
							<input type="text" name="query" placeholder="Search" />
						</form>
					</section>

				<!-- Links -->
					<section>
						<ul class="links">
							<li>
								<a href="#">
									<h3>Lorem ipsum</h3>
									<p>Feugiat tempus veroeros dolor</p>
								</a>
							</li>
							<li>
								<a href="#">
									<h3>Dolor sit amet</h3>
									<p>Sed vitae justo condimentum</p>
								</a>
							</li>
							<li>
								<a href="#">
									<h3>Feugiat veroeros</h3>
									<p>Phasellus sed ultricies mi congue</p>
								</a>
							</li>
							<li>
								<a href="#">
									<h3>Etiam sed consequat</h3>
									<p>Porta lectus amet ultricies</p>
								</a>
							</li>
						</ul>
					</section>

				<!-- Actions -->
					<section>
						<ul class="actions stacked">
							<li><a href="#" class="button large fit">Log In</a></li>
						</ul>
					</section>

			</section>

		<!-- Main -->
			<div id="main">

				<!-- Post -->
				{% for post in page.get_children %}
					{% with post=post.specific %}

						<article class="post">
							<header>
								<div class="title">
									<h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
									<p>{{ post.intro }}</p>
								</div>
								<div class="meta">
									<time class="published" datetime="2015-11-01">{{ post.date }}</time>
									<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
								</div>
							</header>
							<a href="{% pageurl post %}" class="image featured">{% image post.header_image original %}</a>
							<p>{{ post.body|richtext|truncatewords_html:24|safe }}</p>
							<footer>
								<ul class="actions">
									<li><a href="{% pageurl post %}" class="button large">Continue Reading</a></li>
								</ul>
								<ul class="stats">
									<li><a href="#">General</a></li>
									<li><a href="#" class="icon solid fa-heart">28</a></li>
									<li><a href="#" class="icon solid fa-comment">128</a></li>
								</ul>
							</footer>
						</article>

					{% endwith %}
				{% endfor %}

				<!-- Pagination -->
					<ul class="actions pagination">
						<li><a href="" class="disabled button large previous">Previous Page</a></li>
						<li><a href="#" class="button large next">Next Page</a></li>
					</ul>

			</div>

		<!-- Sidebar -->
			<section id="sidebar">

				<!-- Intro -->
					<section id="intro">
						<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
						<header>
							<h2>{{ page.title }}</h2>
							<p>{{ page.intro|richtext }}</a></p>
						</header>
					</section>

				<!-- Mini Posts -->
					<section>
						<div class="mini-posts">

							<!-- Mini Post -->
								<article class="mini-post">
									<header>
										<h3><a href="single.html">Vitae sed condimentum</a></h3>
										<time class="published" datetime="2015-10-20">October 20, 2015</time>
										<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
									</header>
									<a href="single.html" class="image"><img src="images/pic04.jpg" alt="" /></a>
								</article>

							<!-- Mini Post -->
								<article class="mini-post">
									<header>
										<h3><a href="single.html">Rutrum neque accumsan</a></h3>
										<time class="published" datetime="2015-10-19">October 19, 2015</time>
										<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
									</header>
									<a href="single.html" class="image"><img src="images/pic05.jpg" alt="" /></a>
								</article>

							<!-- Mini Post -->
								<article class="mini-post">
									<header>
										<h3><a href="single.html">Odio congue mattis</a></h3>
										<time class="published" datetime="2015-10-18">October 18, 2015</time>
										<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
									</header>
									<a href="single.html" class="image"><img src="images/pic06.jpg" alt="" /></a>
								</article>

							<!-- Mini Post -->
								<article class="mini-post">
									<header>
										<h3><a href="single.html">Enim nisl veroeros</a></h3>
										<time class="published" datetime="2015-10-17">October 17, 2015</time>
										<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
									</header>
									<a href="single.html" class="image"><img src="images/pic07.jpg" alt="" /></a>
								</article>

						</div>
					</section>

				<!-- Posts List -->

					<section>
						<ul class="posts">
							{% for post in page.get_children %}
								{% with post=post.specific %}
									<li>
										<article>
											<header>
												<h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
											</header>
											<a href="{% pageurl post %}" class="image"><img src="images/pic08.jpg" alt="" /></a>
										</article>
									</li>
								{% endwith %}
							{% endfor %}

				<!-- About -->
					<section class="blurb">
						<h2>About</h2>
						<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</section>

			</section>
	</div>

{% endblock content %}