{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block fiveup_bodyclass %}is-preload{% endblock fiveup_bodyclass %}

{% block body_class %}template-logueindexpage{% endblock body_class %}

{% block content %}

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			{% for post in logue %}
				{% with post=post.specific %}

					<article class="post">
						<header>
							<div class="title">
								<h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
								<p>{{ post.intro }}</p>
							</div>
							<div class="meta">
								<time class="published" datetime="{{ post.date|date:'Y-m-d' }}">{{ post.date }}</time>
								{% with authors=post.logue_authors.all %}
									{% if authors %}
										<ul>
											{% for iter in authors %}
												{% image iter.author.image fill-100x100 as img %}
												<li style="display: inline">
													<a href="{{ iter.author.website }}" class="author">
													<span class="name">{{ iter.author.name }}</span>
													<img src="{{ img.url }}" alt="{{ iter.author.name }}" /></a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								{% endwith %}
							</div>
						</header>
						<a href="{% pageurl post %}" class="image featured">{% image post.header_image max-1000x1000 %}</a>

						{% comment %} <!-- Thumbnail -->
						{% with post.main_image as main_image %}
							{% if main_image %}
								{% image main_image fill-160x100 %}
							{% endif %}
						{% endwith %}
						{% endcomment %}

						<p>{{ post.body|richtext|truncatewords_html:24 }}</p>
						<footer>
							<ul class="actions">
								<li><a href="{% pageurl post %}" class="button large">Continue Reading</a></li>
							</ul>
							<ul class="stats">
								{% with categories=post.categories.all %}
									{% if categories %}
											{% for category in categories %}
												<li style="display: inline">{{ category.name }}</li>
											{% endfor %}
									{% endif %}
								{% endwith %}
								<li><a href="#" class="icon solid fa-heart">28</a></li>
								<li><a href="#" class="icon solid fa-comment">128</a></li>
							</ul>
						</footer>
					</article>

				{% endwith %}
			{% endfor %}

			<!-- Pagination -->
				<ul class="actions pagination">
					<li><a href="" class="disabled button large previous">Previous Page</a></li>
					<li><a href="#" class="button large next">Next Page</a></li>
				</ul>

		</div>

		<!-- Sidebar -->
		<section id="sidebar">

			<!-- Intro -->
				<section id="intro">
					<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
					<header>
						<h2>{{ page.title }}</h2>
						<p>{{ page.intro|richtext }}</a></p>
					</header>
				</section>

			<!-- Mini Posts -->
				<section>
					<div class="mini-posts">
						{% for post in page.get_children %}
							{% with post=post.specific %}
							<!-- Mini Post -->
								<article class="mini-post">
									<header>
										<h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
										<time class="published" datetime="{{ post.date|date:'Y-m-d' }}">{{ post.date }}</time>
										{% with authors=post.logue_authors.all %}
											{% if authors %}
												<ul>
													{% for iter in authors %}
														{% image iter.author.image fill-100x100 as img %}
														<li style="display: inline">
															<a href="{{ iter.author.website }}" class="author">
																<img src="{{ img.url }}" alt="{{ iter.author.name }}" />
															</a>
														</li>
													{% endfor %}
												</ul>
											{% endif %}
										{% endwith %}
									</header>
									<a href="{% pageurl post %}" class="image thumbnail">{% image post.header_image max-400x400 %}</a>
								</article>
							{% endwith %}
						{% endfor %}

					</div>
				</section>

			<!-- Post Links List -->
				<section>
					<ul class="posts">
						{% for post in page.get_children %}
							{% with post=post.specific %}
								<li>
									<article>
										<header>
											<h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
											<time class="published" datetime="{{ post.date|date:'Y-m-d' }}">{{ post.date }}</time>
										</header>
										<a href="{% pageurl post %}" class="image thumbnail">{% image post.header_image max-400x400 %}</a>
									</article>
								</li>
							{% endwith %}
						{% endfor %}

			<!-- About -->
				<section class="blurb">
					<h2>About</h2>
					<p>The Purple Dot is a group of data-wranglin', storytellin' data scientists and developers.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				</section>

		</section>

{% endblock content %}